@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");

/**@keyframes blink {
  0% {
    color: #ff3300;
  }
  100% {
    color: #aaaaaa;
  }
}

@keyframes flicker {
  0% {
    opacity: 0.4;
  }
  5% {
    opacity: 0.5;
  }
  10% {
    opacity: 0.6;
  }
  15% {
    opacity: 0.85;
  }
  25% {
    opacity: 0.5;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.25;
  }
  45% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0.85;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

body {
  background-color: #1a1a1a;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-family: "Fira Mono", monospace;
  font-weight: bold;
  color: #aaaaaa;
}

#nav:hover a:hover {
  color: #9900ff;
}

#links a.router-link-exact-active {
  color: #ff3300;
  animation: flicker 1s;
}**/

body::-webkit-scrollbar {
  width: 15px;
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.15);
  /* outline: 1px solid slategrey; */
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--c-bg-main);
  font-family: 'Roboto', sans-serif;
}
div {
  color: white;
}
button {
  background-color: transparent;
  border-style: none;
}
button:focus {
  outline: 0;
  -moz-outline: 0;
}
a,
a:hover {
  text-decoration: none;
  color: var(--c-highlight);
}
h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}
.router-cont {
  margin-bottom: 200px;
}
.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}
.page-header {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}